.sidebar{
    width:220px;
    min-height:100vh;
    background:#1f2937;
    display:flex;
    flex-direction:column;
    padding:20px;
}

.sidebar h2{
    color:white;
    margin-bottom:30px;
}

.sidebar a{
    color:white;
    text-decoration:none;
    padding:12px;
    border-radius:6px;
    margin-bottom:10px;
}

.sidebar a:hover{
    background:#374151;
}

.active{
    background:#2563eb;
}